:root {
  --main-background: #e5e5e5;
  --sub-background: #ffffff;

  --main-color: #b50000;
  --main-color-light: #bc1a1a;

  --logo-color-font: #ffe7a8;
  --main-font-color: #000000;
  --sub-font-color: #9e9e9e;
}
