:root {
  --menuCard-per-view: 5;
}

.meals {
  display: grid;
  grid-template-columns: repeat(var(--menuCard-per-view), 1fr);
  gap: 1.2rem;
}


/* адаптив */
@media (max-width: 1500px) {
  :root {
    --menuCard-per-view: 4;
  }
}
@media (max-width: 1350px) {
  :root {
    --menuCard-per-view: 3;
  }
}
@media (max-width: 1050px) {
  :root {
    --menuCard-per-view: 2;
  }
}
@media (max-width: 900px) {
  :root {
    --menuCard-per-view: 3;
  }
}
@media (max-width: 700px) {
  :root {
    --menuCard-per-view: 2;
  }
}
