:root {
  --menuCard-per-view: 5;
}

.meals {
  display: grid;
  grid-template-columns: repeat(var(--menuCard-per-view), 1fr);
  gap: 1.2rem;
}
.title {
  font-size: 3.6rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.8rem;
}

/* адаптив */
@media (max-width: 1500px) {
  :root {
    --menuCard-per-view: 4;
  }
}
@media (max-width: 1200px) {
  :root {
    --menuCard-per-view: 3;
  }
}
@media (max-width: 914px) {
  :root {
    --menuCard-per-view: 2;
  }
}
@media (max-width: 480px) {
  :root {
  }
}
