:root {
  --basket-part: 35rem;
}
.container {
  display: flex;
  margin: 0 auto;
  max-width: 95%;
}
.sectionMenu {
  margin-bottom: 3rem;
}
.basketMobile {
  display: none;
  position: fixed;
  bottom: 1%;
  right: 1%;

  cursor: pointer;
  padding-bottom: env(safe-area-inset-bottom);
  pointer-events: none;
}

@media (max-width: 900px) {
  .basketMobile {
    display: block;
  }
}
